# python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.idea/

# operating system files
.DS_Store
Thumbs.db

# env
*.env

# venv
.venv

# logs
logs/

# python build artifacts
dist/
build/
*.egg-info/
*.pypirc

# project files/folders
data/*
!data/.gitkeep
data/anbima-avl-funds-cons.csv
