# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache

# IDEs
.idea/

# operating system files
.DS_Store
Thumbs.db

# environments
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# logs
logs/

# python build artifacts
dist/
build/
*.egg-info/
*.pypirc

# project files/folders
data/*
!data/.gitkeep
!data/input-funds-regex-bylaws.xlsx
data/anbima-avl-funds-cons.csv
