aaron-bond.better-comments
alexcvzz.vscode-sqlite
arjun.swagger-viewer
arturock.gitstash
blade.timetracker
cateyes99.simple-case
christian-kohler.path-intellisense
codeium.codeium
dbaeumer.vscode-eslint
donjayamanne.githistory
dotjoshjohnson.xml
dzhavat.bracket-pair-toggler
esbenp.prettier-vscode
grapecity.gc-excelviewer
humao.rest-client
ioloii.oh-git
janisdd.vscode-edit-csv
jithurjacob.nbpreviewer
lucasmelin.airflow-snippets
mechatroner.rainbow-csv
mhutchie.git-graph
mohsen1.prettify-json
ms-azuretools.vscode-docker
ms-python.debugpy
ms-python.isort
ms-python.python
ms-python.vscode-pylance
ms-toolsai.jupyter
ms-toolsai.jupyter-keymap
ms-toolsai.jupyter-renderers
ms-toolsai.vscode-jupyter-cell-tags
ms-toolsai.vscode-jupyter-slideshow
ms-vscode-remote.remote-wsl
ms-vscode.hexeditor
necatiarslan.airflow-vscode-extension
oderwat.indent-rainbow
phacks.isin-code
pkief.material-icon-theme
redhat.vscode-commons
redhat.vscode-xml
redhat.vscode-yaml
rioukkevin.vscode-git-commit
usernamehw.errorlens
waderyan.gitblame
wesleybatista.airflow-dag-viewer
wmaurer.change-case
