# python version requirement: >=3.9,<3.14

# core dependencies
pyyaml>=6.0.2
pyodbc>=5.1.0
workalendar>=17.0.0
python-dateutil>=2.8.2
more-itertools>=10.6.0
businesstimedelta>=1.0.1
pandas>=2.1.0
backoff>=2.2.1
numpy>=2.0.0; python_version>='3.10'
numpy==1.24.4; python_version>='3.9' and python_version<'3.10'
seaborn>=0.13.2
statsmodels>=0.14.4
scipy>=1.11.0,!=1.16.0
scikit-learn>=1.4.0
boto3>=1.34.0
pycurl>=7.45.2
wget>=3.2
requests>=2.31.0
py7zr>=0.22.0
validate-docbr>=1.10.0
yfinance>=0.2.52
nelson-siegel-svensson>=0.5.0
cvxopt>=1.3.2
plotly>=6.0.0
beautifulsoup4>=4.12.0
numpy-financial>=1.0.0
urllib3>=1.25.4,<1.27
lxml>=5.3.0
selenium>=4.30.0
joblib>=1.4.2
pypdf>=5.9.0
tabula-py>=2.10.0; python_version>='3.10'
tabula-py==2.9.0; python_version>='3.9' and python_version<'3.10'
ftfy>=6.3.1
basicauth>=1.0.0
unidecode>=1.3.8
pywin32>=308; sys_platform=='win32'
xlwt>=1.3.0
pymsteams>=0.2.5
psycopg>=3.2.4
sqlalchemy>=1.4.36
sympy>=1.13.3
mlxtend>=0.23.1
sendgrid>=6.11.0
slack>=0.0.2
pymysql>=1.1.1
pydantic>=2.11.5
openpyxl>=3.1.0
pymupdf[fitz]>=1.23.0
pdfplumber>=0.11.5
psutil>=7.0.0
wmi==1.5.1; sys_platform=='win32'
chardet>=5.2.0
minio>=7.2.15
webdriver-manager>=4.0.2
pycountry>=24.6.1
pycountry-convert>=0.7.2
xlrd>=2.0.1
bcrypt>=4.3.0
playwright>=1.52.0
openai>=1.79.0
mystic>=0.4.4
countryinfo>=0.1.2
numdifftools>=0.9.41
xlsxwriter>=3.2.0,<4.0.0
fpdf>=1.7.2
defusedxml>=0.7.1
pytest-asyncio>=1.1.0
MetaTrader5>=5.0.5120; sys_platform=='win32'
oracledb>=3.0.0
pymongo>=4.14.0
redis>=6.0.0

# development dependencies
pre-commit>=4.1.0
build>=1.2.2.post1
ipykernel>=6.29.5
pretty-errors>=1.2.25
commitizen>=4.4.1
python-dotenv>=1.1.0
poetry-plugin-export>=1.8
setuptools>=80.8.0
twine>=6.1.0
ruff>=0.12.1,<0.13.0
coverage>=7.3.0
coverage-badge>=1.0.0
pytest>=7.4.0
toml>=0.10.2; python_version<='3.10'
codespell>=2.2.5
pydocstyle>=6.0.0
tomli>=2.0.1
keyring>=25.6.0
freezegun>=1.5.0